<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Img src:</strong>
  <%= @provider.img_src %>
</p>

<p>
  <strong>Color:</strong>
  <%= @provider.color %>
</p>

<p>
  <strong>Picto:</strong>
  <%= @provider.picto %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
