<!DOCTYPE html>
<html>
  <head>
    <title>MurDigital</title>
    <meta charset="utf-8">
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/574.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/timeago.js" type="text/javascript"></script>
    <script type="text/javascript">
      function addCard(content,channel,id) {
        console.log('addCard at '+channel)
        if(channel === '<%=@channel.name%>') {
          $('#grid').prepend(content);
          id_message='message-'+id;
          resizeDiv(id_message);
          fitMessage(id);
          cleanGrid();
        }
      }
    </script>
    <script type="text/javascript">
    function fitMessage(id) {
      var author = <%=@display.show_from%>;
      var date = <%=@display.show_date%>;
      var id_content = '#content-'+id;
      var id_message = '#message-'+id;
      var id_author = '#author-'+id;
      var id_date = '#date-'+id;
      var height_content = $(id_content).height();
      var height_message = $(id_message).height() - 25;
      while (height_content > height_message){
        var actual_font_size = parseInt($(id_content).css('font-size'));
        var new_font_size = (actual_font_size-1)+"px";
        $(id_content).css('font-size', new_font_size );
        height_content = $(id_content).height();
      };

      var width_content = $(id_content).width();
      var width_message = $(id_message).width();

      console.log('width_content ' +width_content)
      console.log('width_message ' +width_message)
      if (width_content > width_message){
        console.log('resize width for : '+id)
        var actual_font_size = parseInt($(id_content).css('font-size'));
        var new_font_size = (actual_font_size-2)+"px";
        $(id_content).css('font-size', new_font_size );
        width_content = $(id_content).width();
        console.log('new width : '+width_content)
      };

      if(date===0){
        $(id_date).remove()
      }

      if(author===0){
        $(id_author).remove() 
      }
      if(author===2){
        var author_text = $(id_author).text()
        $(id_author).text(author_text.substring(0, author_text.length - 4) + 'XXXX')
      }

    };
    </script> 
    <script type="text/javascript">
    function resizeDiv(id) {
      var true_id = '#'+id
      var columns = <%=@display.columns%>;
      var lines = <%=@display.lines%>;

      var grid_size = 12/columns;
      console.log('grid_size : '+grid_size);
      var class_message = "col-md-"+grid_size;
      $(true_id).addClass(class_message);

      var avail_height = window.screen.availHeight;

      var content_height = (avail_height - 150)/lines;
      console.log(true_id);
      console.log('message height : '+ content_height);
      var actual_content_height = $(true_id).height();
      console.log('message actual height : '+ actual_content_height);
      var new_content_height = content_height+"px";
      $(true_id).height(new_content_height);
    };
    </script> 
    <script type="text/javascript">
    function cleanGrid() {
      var max_count = <%=@display.show_limit%>;
      console.log('max_count : '+max_count);
      var count = $('#grid').children().length;
      console.log('count : '+count);
      if(count > max_count) {
        var id_last_child = "#"+$('#grid').children().last().attr('id');
        console.log('id_last_child : '+id_last_child);
        $(id_last_child).remove()
      }
    };
    </script>
    <script type="text/javascript">
    function scrollVertical() {
      var id_first_child = "#"+$('#grid').children().first().attr('id');
      var id_last_child = "#"+$('#grid').children().last().attr('id');

      setTimeout($('html,body').animate({
        scrollTop: $(id_last_child).offset().top},
        5000),5000);

      setTimeout($('html,body').animate({
        scrollTop: $(id_first_child).offset().top},
        5000),5000);
    };
    </script> 
  </head>

  <body  class="black-body">
    <%= yield %>
  </body>
</html>
